body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Permanent Marker", cursive;
  background: linear-gradient(135deg, #bf1363, #deeeea);
  height: 100vh;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  justify-content: space-around;
}
.headerTwo {
  margin-left: 350px;
}

a {
  color: black;
  text-decoration: none;
}

.title {
  text-align: center;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat (auto-fill, 400px);
  justify-content: space-around;
}

.box {
  width: 300px;
  height: 450px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.gallery1Image1 {
  width: 300px;
  height: 400px;
}
.gallery1Image2 {
  width: 300px;
  height: 400px;
}
.gallery1Image3 {
  width: 300px;
  height: 400px;
}
.gallery1Image4 {
  width: 300px;
  height: 400px;
}

.footer {
  height: 100px;
  width: 100%;
  color: #deeeea;
}
.footerContainer {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: flex-end;
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-top: 80px;
}

.fa:hover {
  opacity: 0.7;
}

.fa > .logo {
  justify-content: flex-start;
}

.fa-facebook {
  /* background: #39A6A3; */
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-twitter {
  /* background: #55ACEE; */
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-instagram {
  /* background: #125688; */
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-pinterest {
  /* background: #cb2027; */
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-snapchat-ghost {
  /* background: #fffc00; */
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo {
  height: 100px;
  margin-top: 45px;
  position: absolute;
  left: 15px;
}
.storeLink {
  font-family: "Bebas Neue", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Permanent Marker", cursive;
  height: 50px;
  margin-top: 70px;
  position: absolute;
  left: 180px;
}
.storeLink:hover {
  background-color: #bf1363;
  color: white;
}
